<div >
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
    </ngx-spinner>
</div>
<div class="container-fluid">
  <!--login page start-->
  <div class="authentication-main">
      
    <div class="row">

      <div class="col-md-12 p-0">
        <div class="auth-innerright">
          <div class="authentication-box">
              <!-- <div class="col-md-12">
                  <img style="width: 180px; height: 180px; margin-bottom: 20px" src="assets/images/logo-light.png" alt="Digital Dairy">
              </div> -->
            <h4>SPORT-X - Order Payment</h4>
            
            <div>
                <h5 *ngIf="paymentStatus != null">Booking Type: {{orderData.bookingType}}</h5>
                <h5 *ngIf="paymentStatus != null">Booking Date: {{orderData.date}}</h5>
                <h5 *ngIf="paymentStatus != null">Booking Time: {{orderData.time}} </h5>
                <h5 *ngIf="paymentStatus != null">Payment Status: {{paymentStatus}}</h5>
                <h5 *ngIf="paymentStatus == paid">You have successfully made the payment for this order!!</h5>
                <h5 *ngIf="invalidOrderIdText == 'invalid'">Invalid Order ID</h5>
                <hr >
                <h6 *ngIf="paymentStatus == 'pending' && paymentStatus != null">Click on the Paypal Icon Below to Pay for you Order (if icon dosen't until 30 seconds kindly swipe down to refresh screen)</h6>
            </div>
               
      
          
          <div class="row" style="margin-top: 20px;">
            
            <!-- <div class="col-md-1"></div> -->
            
            <div class="col-md-12">
              <div id="paypal-checkout-btn"></div>
            </div>
            
            <!-- <div class="col-md-1"></div> -->
          
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>



  <!--login page end-->
</div>
